<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Demo-5.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Bani Mouldi</h3>
      </div>

      <div class="text-center">@BaniDev</div>
      <div class="text-center">
        <a href="https://www.facebook.com/Banidevp/?modal=admin_todo_tour">BaniDev</a>
      </div>
    </div>
  </div>
</div>
